#news 
{
  background: $light-color;
position: relative;
.news_card 
{
    &-img 
    {
  position: relative;
  width: 100%;
  height: 19rem;
  img 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    }
    .news_conent 
    {
        padding-left: 1rem;
    }
    &-date 
    {
        span 
        {
            font-size: 1.6rem;
            margin: 1rem 0;
            display: block;
            color: $dark-color-6;
        }
    }
    &-title 
    {
        h2 
        {
            font-size: 2rem;
            color: $dark-color;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    &-desc 
    {
        p 
        {
            text-align: justify;
            font-size: 1.4rem;
            padding: 0;
            margin-top: 1rem;
        }
    }
}
    
}

.newscard_slider .owl-nav {
    position: absolute;
    left: 0;
    bottom: -10rem;
    font-size: 5rem;
    color: $dark-color;

}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: $primary-color;
    text-decoration: none;
    
}