#tips_for_bike 
{
    .tips_content 
    {
        padding-right: 4rem;
        &-items 
        {
           display: flex;
           justify-content: flex-start;
           align-items: center;
           gap: 2rem;
           &-icon 
           {
            i 
            {
                font-size: 4rem;
            }
           }
    }
}
}

.rounded_img
{
    position: relative;
    width: 100%;
    height: 44rem;
    @include border-radius(1.5rem);
    overflow: hidden;
    img 
    {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}