.contact_hero {
    position: relative;
    background: $light-gray;
    min-height: 60rem;

    &-content {
        position: absolute;
        left: 18%;
        top: 50%;
        @include transform(translateY(-50%));

        h1 {
            color: $text-color;
            margin-bottom: 2rem;
        }

        h2 {
            color: $dark-color-6 !important;

            span {
                display: block;
            }
        }
    }
}


#contact_form {
    padding-bottom: 0;
    .contact_form-inner {
        position: relative;
        padding:5rem 2rem 20rem 2rem;
        background: $secondary-color;
        text-align: center;
        @include border-radius(1.5rem);
        h1 {
            color: $text-color;
        }

        p {
            color: $dark-color-8;
            text-align: center;
        }

        &_address {
            ul {
                margin: 0;
                padding: 0;
                @extend .flex;
                justify-content: center;
                gap: 10rem;

                li {
                    margin: 2rem 0;
                    display: inline-block;

                    a {
                        font-size: 2rem;
                       
                        display: flex;
                        align-items: center;
                        flex-direction:column;
                        gap: 1rem;
                        &:hover i
                        {
                            background: $primary-color;
                            color: $dark-color;
                            border-color: $dark-color-4;

                        }
                        &:hover 
                        {
                            color: $dark-color-8;
                        }
                        i {
                            font-size: 2rem;
                            height: 4rem;
                            width: 4rem;
                            border: 0.1rem solid $dark-color-2;
                            line-height: 4rem;
                            @include border-radius(50%);
                        }
                    }
                }
            }
        }

        &_socail {
            position: absolute;
            top: 2%;
            left: 2%;
            padding: 2rem;

            ul {
                display: flex;
                gap: 1rem;
                li 
                {
                    a 
                    {
                        i 
                        {
                            color: $dark-color-6;
                            font-size: 3rem;

                        }
                        &:hover i 
                        {
                            color: $dark-color;
                        }
                    }
                }
            }
        }
    }

    .contact_form {
        background: $light-color;
        position: relative;
        bottom: 20rem;
       @include box-shadow($shadow);
       @include border-radius(1.5rem);
        form {
            padding: 2rem;

            .inputBox {
                label {
                    font-family: $poppins;
                    text-align: left;
                    display: block;
                    font-weight: 500;
                    margin: 2rem 0;
                    font-size: 2rem;
                    color: $dark-color-8;
                }

                ::placeholder {
                    color: $dark-color-6 !important;
                }

                input,
                textarea {
                    border: 0.1rem solid $dark-color-2;
                    outline: 0;
                    padding: 1.5rem;
                    font-family: $poppins;
                    @include border-radius(0.5rem);
                    &:focus 
                    {
                        border-color: $secondary-color;
                    }

                }

                textarea {
                    min-height: 10rem;
                }

                input,
                textarea {
                    width: 100%;
                }
            }

            .inputBx_btn 
            {
                margin-top: 2rem;
                text-align: center;
            }
        }
    }
}

#karra_map 
{
    background: $dark-gray;
    h1 
    {
        color: $dark-color-8;
    }
    h2 
    {
        color: $dark-color-6;
    }
}