#single_news 
{
    position: relative;
   
    .singlenews_post 
    {
        h1 
        {
            font-size: clamp(1.8rem, 5vw, 6rem);
            font-weight: 600;
            color: $dark-color;
        }
        h2 
        {
            font-size: clamp(1.6rem, 5vw, 4rem);
            font-weight: 700;
            color: $dark-color;
        }
        .left_img 
        {
            height: 60rem;
            width: 100%;
            object-fit:cover;
            object-position: 0 5%;
            margin: 2.5rem 0;
        }
    }
}

.newsCard 
{
    .newsCard_img 
    {
        

        img 
        {
            height: 50rem;
            
        }
    }
    
}
.newsCard_bottom 
    {
      
        &_title 
        {
            h2 
            {
                font-size: 5rem;
                font-weight: 500;
            }
        }
    }



    .inner_left_padding 
    {
        padding-left: 8.5rem;
    }

    .newscard_inner 
    {
        
        .news_title 
        {
            font-size: 2.8rem;
            font-weight: 500;
        }
    }

    .news_date 
        {
            font-size: 1.2rem;
            color: $dark-color-6;
            
        }

        .newsCard 
        {
            .news_date  
            {
                padding-top: 1.5rem;
            }
            .newsCard_bottom_title 
            {
                h2 
                {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }