.navigation 
{
    ul 
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        li 
        {
            list-style: none;
            padding-right: 2.5rem;
            display:inline-block;
            &:last-child 
            {
                padding-right: 0;
            }
            a 
            {
                
                display:block;
                font-weight: 500;
                @include transition(0.5s ease 0s);
                &:hover 
                {
                    color: $primary-color;
                }
            }
        }
    }
}